Source: ibus-bogo
Section: misc
Priority: optional
Maintainer: Trung Ngo <ndtrung4419@gmail.com>
Build-Depends: debhelper (>= 8.0.0), python (>= 2.7), python-support (>= 0.90.0)
Standards-Version: 3.9.3
Homepage: https://github.com/BoGoEngine/ibus-bogo-python
Vcs-Git: git://github.com/BoGoEngine/ibus-bogo-python.git

Package: ibus-bogo
Architecture: all
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}, python-gi,
 gir1.2-ibus-1.0,
 python-xlib
 python-bogo
Description: BoGo engine for IBus
 IBus is an Intelligent Input Bus. It is a new input framework for Linux OS.
 It provides full featured and user friendly input method user interface.
 It also may help developers to develop input method easily.
 .
 BoGo is a Vietnamese Input Method Editor (IME).
